<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.tonnyl.mango">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MangoApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="io.github.tonnyl.mango.ui.main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="io.github.tonnyl.mango.ui.auth.AuthActivity"
            android:exported="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <data
                    android:host="callback"
                    android:scheme="x-mango-oauth-dribbble" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity
            android:name="io.github.tonnyl.mango.ui.shot.ShotActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="io.github.tonnyl.mango.ui.user.UserProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="io.github.tonnyl.mango.ui.user.followers.FollowersActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="io.github.tonnyl.mango.ui.user.following.FollowingActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="io.github.tonnyl.mango.ui.shot.likes.LikesActivity"
            android:label="@string/likes"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="io.github.tonnyl.mango.ui.shot.comments.CommentsActivity"
            android:label="@string/comments"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="io.github.tonnyl.mango.ui.settings.SettingsActivity"
            android:label="@string/settings"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="io.github.tonnyl.mango.ui.settings.license.LicensesActivity"
            android:label="@string/open_source_licenses"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".DeepLinkActivity"
            android:theme="@android:style/Theme.NoDisplay">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="dribbble.com"
                    android:pathPattern="/shots/.*"
                    android:scheme="https" />

            </intent-filter>

        </activity>

    </application>

</manifest>