<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.tonnyl.mango">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".MangoApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".shots.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".auth.AuthActivity"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <data
                    android:host="callback"
                    android:scheme="x-mango-oauth-dribbble" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity android:name=".shot.ShotActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".user.UserActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".list.ListActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".bucket.BucketActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

    </application>

</manifest>